@charset "UTF-8";
body
{
    background-color: #fbf9cc;
} 
h1 span
{
    font-size: 1.75em;
    color: #3399cc;
    text-align: center;
}
h2{
    font-size: 1.25em;
    color: #ffffff;
    border: #94c8b1 1px dotted;
    border-left:#d0e35b 10px solid;
    margin-bottom: 0;
    padding: 5px 20px;
}

p
{
    font-size: 0.8em;
    background-color: #3399cc;
    color: #333333;
    line-height: 1.75em;
}
li
{
    font-size: 0.8em;
    color: #333333;
}
address
{
    font-size: 0.75em;
    font-style: italic;
}
a
{
    color: #df4839;
}
a:hover
{
    color: #ff705b;
}
#baka{
    border-top: #6fbb9a 1px dotted;
    color: #ff0000;
    text-align: center;
}
. greeting
{
    border-top: #6fbb9a 1px dotted;
    color: #ff0000;
    text-align: center;
}
p. aho
{
    border-top: #6fbb9a 1px dotted;
    color: #ff0000;
    text-align: center;
}
